/* =============================================================================

	2COL.CSS
	version: 1.7
	updated: 2009-03-14, 12:44 GMT+1

============================================================================= */

/* =============================================================================
LAYOUT
============================================================================= */
#tray .ico-col2 {display:none;}

#cols {background:url("../../images/backend/frame/content.gif") 150px 0 repeat-y;}
#aside {float:left; width:145px;}
