html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
    line-height: 1;
}

ul,li{ list-style: none;}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.hidden {
    display: none !important;
}
.cb {
    clear: both;
}
.cl {
    clear: left;
}
.cr {
    clear: right;
}
.tl {
    text-align: left;
}
.tr {
    text-align: right;
}
.tc {
    text-align: center;
}
.vm {
    vertical-align: middle;
}
.mt5{ margin-top: 5px;}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.pl10 {
    padding-left: 10px;
}
.reddish{ color: #BA2636!important}

body {
    font: 12px/1.5 'Tahoma','simsun'; background: #020202;
}

a {
    color: #93B8FF; text-decoration: none;
}
a:hover {
    color: #BA2636;
}
#page{ background: url(../../images/frontend/bg.jpg) no-repeat center 0; color: #fff }
#header{ margin: 0 auto; width:960px;padding-top:30px; position: relative}

.hot-screen{ width: 960px; margin: 0 auto;}
.info-screen{ margin-top: 10px;background: #020202; background-position:top;}
.open-video{ width: 588px;}
.info-screen-inner{width: 960px; margin: 0 auto}


#footer {
color: #D2D2D2;
background: url(../../images/frontend/foot.jpg) no-repeat center -20px;height: 210px;
}
.footer-inner{ width: 960px; margin: 0 auto}


.logo a{ background: url(../../images/frontend/logo.png); width: 243px; height: 57px; text-indent: -999px; display: block; float: left}
.site-nav{text-align: left;width: 957px; margin: 50px auto 0;
overflow: hidden;
padding-left: 3px;
height: 33px;
background: #2B7ACD url("../../images/frontend/nv.png") no-repeat;
}


.site-nav li {
float: left;
padding-right: 1px;
height: 33px;
line-height: 33px;
background: url(../../images/frontend/nv_a.png) no-repeat 100% 0;
font-weight: 700;
font-size: 14px;
}
.site-nav li a {
float: left;
padding: 0 20px;
height: 33px;
color: #fff; 
}

.site-nav li a:hover {
background: url(../../images/frontend/nv_a.png) no-repeat 50% -66px;
}
.site-nav li.on {
margin-left: -1px;
background:url("../../images/frontend/nv_a.png") no-repeat 50% -33px  #005AB4 ;
}

.open-video .box-bd{ background: #000; width: 588px; height: 452px}
.open-video .box-bd p{ line-height: 452px!important; text-align: center!important}
.open-video .box-ft{ padding: 5px 0}
.open-video .box-ft a{ padding: 0 10px;}

.banner{ position: absolute; right: 0}

.box { border: 1px solid #2A3A53;}
.box .box-hd{ background:url('../../images/frontend/box-hdbg.png') repeat-x ; border-bottom:1px solid #2A3A53; height:35px; overflow: hidden; }
.box .box-hd h3{  background: url(../../images/frontend/box-hdh3.png);width: 205px; height: 40px; position: relative; top:-5px; left: -1px; text-indent: 30px;color: #B0DDF4; font-size: 18px; line-height: 40px;}

.bbs-post{ width: 588px; background: #000B21}
.bbs-talk a{ background: url(../../images/frontend/bbs-talk.png) no-repeat; width: 110px; height: 26px; float: right; margin: 10px; line-height: 26px;}


.prog{ border: 1px solid #2A3A53;width:358px;  background: #000B21; }
.prog .tabs-hd{ width: 270px;}
.prog .tabs-hd a,.prog .tabs-hd a:hover{ color: #fff}
.prog .tabs-panel{width:310px;height:233px;  margin: 0 auto;  overflow-y:auto;}
.prog .tabs-panel li{ line-height: 25px; height: 25px; border-bottom: #151B35 1px solid; }
.prog .tabs-panel .prog-content{ padding-left:20px;}
.prog .tabs-panel .prog-type{  float: right;padding-right: 20px; color: #84ACE8}
.prog .tabs-panel .prog-starttime{ color: #35C5D7}
.prog .tabs-panel .prog-content{ color: #84ACE8}

.prog-recommend{ border: 1px solid #2A3A53; height: 145px; background: url('../../images/frontend/prog-recommend.png') no-repeat 5px 0 #000B21;width: 338px; overflow: hidden;padding: 65px 10px 0;color: #84ACE8}


.tabs .tabs-hd{overflow:hidden;margin:20px auto;background: url('../../images/frontend/tab-hdbg.png') repeat-x bottom; padding: 0 20px; text-align: center}
.tabs .tabs-hd li{float: left;}
.tabs .tabs-hd h3{font-weight: normal;}
.tabs .tabs-hd a{background: url('../../images/frontend/tab-bg.png') no-repeat;height:20px; width: 102px;position:relative;margin-right:-1px;float:left;cursor:pointer;border:1px solid #253149;border-bottom:none;}
.tabs .tabs-hd .selected{background:url('../../images/frontend/tab-current-bg.png') no-repeat;}

.box2{width:360px;}
.box2 .hd{ height: 30px; background:#032855; border: 1px solid #2A3A53; border-bottom: none;}
.box2 .hd h3{text-indent: 20px; line-height: 30px}
.box2 .bd{ background: #000B21; border: 1px solid #2A3A53; }
.info-video .bd li{ float: left; width: 42%; margin: 10px 0;margin-left:8%;  display: inline}
.info-news .bd{ padding-top: 2px;}
.info-news .bd ul{ padding:10px 0 10px 20px}
.info-news .bd li{height: 22px; line-height: 22px; text-indent: 10px;background: url(../../images/frontend/bpoint.png) no-repeat 0 10px; }

.footer-nav {
height: 14px;
line-height: 14px;
margin-bottom: 12px; padding-top: 80px;
text-align: center;
}
.footer-nav a{ padding: 0 5px;}
.copyright {
padding-top: 1px;
color: #999;
}#QQLive_Player_20101122_installer{display:none}